.policy-inline a {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 5px;
  align-items: center; 
  color: #007BFF;
  text-decoration: none;
  font-weight: 300px;
}

.policy-inline a:hover {
  text-decoration: underline;
}