.info-icon {
  display: inline-block;
  margin-left: 6px;
  background-color: #007BFF;
  color: white;
  font-weight: lighter;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
}

.info-icon .tooltip {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 10px;
}

@media (max-width: 400px) {
  .info-icon {
    width: 18px;
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    margin-left: 4px;
  }

  .info-icon .tooltip {
    width: 180px;
    font-size: 11px;
    padding: 8px;
    bottom: 140%;
  }
}

.info-icon:hover .tooltip,
.info-icon:focus .tooltip {
  visibility: visible;
  opacity: 1;
}