/* Button styles */

.view-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 7px;
    display: inline-flex;
}

.view-btn:hover {
    background-color: #0056b3;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 7px;
    display: right;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.btn-inquire {
  padding: 10px 20px;
  background-color: #e6f4ff;
  color: #000;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  margin-left: auto;
}

.btn-inquire:hover {
  background-color: #cce8ff;
}

.btn-logout {
  padding: 10px 20px;
  background-color: #e6f4ff;
  color: #000;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  display: block;
  margin-left: auto;
}

.btn-logout:hover {
  background-color: #ff9999;
}