.admin-login-btn {
  display: inline-block;
  padding: 7px 43px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin-bottom: 0;
  text-decoration: none;
  cursor: pointer;
}

.admin-login-btn:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.admin-login-btn:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.divider {
  margin: 2rem 0 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 480px) {
  .admin-login-btn {
    width: 100%;
    padding: 10px;
    font-size: 13px;
  }
}