input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: 1px solid #ccd6e0;
  border-radius: 6px;
  background: #fdfefe;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  outline: none;
  border-color: #3498db;
}

input[type="tel"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.code-inputs input {
  width: 40px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #000;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .code-inputs {
    gap: 0.5rem;
  }
  .code-inputs input {
    height: 45px;
    font-size: 16px;
  }
}


.select-label-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.select-label-container label {
  margin-bottom: 0;
  margin-right: 8px;
}